
img{
    width: 100%;
    border: 8px

}
.h3{
    color: goldenrod;
}

        .container{
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 10px;
        }
        
        .h3{
            color: goldenrod;
        }
        strong{
            color: teal;
        }
        p span{
            font-weight: bold;
        }

        ul li{
            color: teal;
         }

         .change{
            color: teal;
         }

         .change{
            color: teal;
         }
         p{
             color: black;
         }